
input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

.hue::-moz-range-track {
	background-image: linear-gradient(
		to right,
		rgb(255, 0, 0),
		rgb(255, 255, 0),
		rgb(0, 255, 0),
		rgb(0, 255, 255),
		rgb(0, 0, 255),
		rgb(255, 0, 255),
		rgb(255, 0, 0)
	);
}

.hue::-webkit-slider-runnable-track {
	background-image: linear-gradient(
		to right,
		rgb(255, 0, 0),
		rgb(255, 255, 0),
		rgb(0, 255, 0),
		rgb(0, 255, 255),
		rgb(0, 0, 255),
		rgb(255, 0, 255),
		rgb(255, 0, 0)
	);
}

.lightness::-moz-range-track {
	background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
}

.lightness::-webkit-slider-runnable-track {
	background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
}

.alpha::-moz-range-track {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.alpha::-webkit-slider-runnable-track {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
